@font-face {
    font-family: oblong;
    src: url(/assets/fonts/Agker.ttf);
  }
@font-face {
    font-family: IRANSans_Black;
    src: url(/assets/fonts/IRANSans_Black.ttf);
  }
@font-face {
    font-family: IRANSans_Bold;
    src: url(/assets/fonts/IRANSans_Bold.ttf);
  }
@font-face {
    font-family: IRANSans_Light;
    src: url(/assets/fonts/IRANSans_Light.ttf);
  }
@font-face {
    font-family: IRANSans_Medium;
    src: url(/assets/fonts/IRANSans_Medium.ttf);
  }
@font-face {
    font-family: IRANSans_UltraLight;
    src: url(/assets/fonts/IRANSans_UltraLight.ttf);
  }
@font-face {
    font-family: IRANSans_Ultra;
    src: url(/assets/fonts/IRANSans_Ultra.ttf);
  }
@font-face {
    font-family: IRANSans;
    src: url(/assets/fonts/IRANSans.ttf);
  }