/*colors*/
$primaryColor: #6f6af8;
$cardColor: #7557e0;
$buttonColor: #8055E0;
$buttonHoverColor: #a698ff;
$fifthColor: #60ADFC;
$lightBlackShadow:#00000026;
$iconHoverOnPrimary:#7975ee;
$svgFillOnHoverPrimary:#ffffff91;

/*sizes*/
$border-radius: 25px;

/*fonts*/
$regular:'IRANSans';
$Bold:'IRANSans_Bold';
$font-size:16px;

/*deskBar*/
 $deskBarWidth:6%;
 $deskBarMarginTop:20px;
 $deskBarMarginBottom:20px;
 $deskBarMarginRight:10px;
 $deskBarMarginLeft:10px;
