@import 'src/app/Styles/Variables.scss';

/*************************************************************************************************************/
/******************************************  Main Style  *****************************************************/
/******************************************  Main Style  *****************************************************/
/******************************************  Main Style  *****************************************************/
/*************************************************************************************************************/
.student-main {
    direction: rtl;
    margin-right: 20px;
    border-radius: 25px;
    font-family: $regular;
    width: calc(100vw - $deskBarWidth - 15px);
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}