@import 'src/app/Styles/Variables.scss';

.student-search-main {
    font-family: $regular;
    direction: rtl;
    height: 55vh;
    width: 75vw;
    background: #fff;
}


.student-search-body {
    height: calc(85% - 20px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    direction: rtl;
    overflow: scroll;
    align-items: flex-start;
}

.student-search-header {
    height: 15%;
}