@import 'src/app/Styles/Variables.scss';

.comment-list-main {
    font-family: $regular;
    direction: rtl;
    height: 55vh;
    width: 75vw;
    background: #fff;
}


.comment-list-body {
    display: flex;
    overflow: auto;
}

.comment-list-header {
    height: 15%;
}

.right-values {
    width: 30%;
}

.comment-modal-main {
    width: 10vw;
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
    flex-direction: column;


    .item {
        height: calc(12.5% - 10px);
        margin: 5px 0px;
    }

    .comment-modal-header {
        font-weight: 600;
        width: inherit;
    }

    .student-comment-name {
        text-align: left;
    }

    .student-comment-name:hover {
        color: $buttonColor;
    }

    .comment-modal-body-main {
        display: flex;
        flex-direction: column;
        height: 62.5%;

        .comment-modal-body-title {
            height: 10%;
            font-size: smaller;
        }

        .comment-modal-body {
            background: $lightBlackShadow;
            padding: 10px 15px;
            border-radius: $border-radius;
            text-align: justify;
            overflow: auto;
            height: 90%;
            font-size: calc($font-size - 2px);
        }
    }

    .comment-modal-created-date {
        font-size: smaller;
    }
}