// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MookAdmin-primary: mat.define-palette(mat.$indigo-palette);
$MookAdmin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MookAdmin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MookAdmin-theme: mat.define-light-theme((color: (primary: $MookAdmin-primary,
                accent: $MookAdmin-accent,
                warn: $MookAdmin-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MookAdmin-theme);

/* You can add global styles to this file, and also import other style files */
@import 'app/Styles/Variables.scss';

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: $border-radius;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body {
    height: calc(100% - 5px);
    margin: 0;
}

app-desk-bar {
    display: inline-block;
    height: 100%;
    position: fixed;
    width: $deskBarWidth;
}
app-search-text-box {
    display: flex;
    height: 6vh ;
}
app-student {
    display: flex;
    justify-content: flex-end;
    max-height: 93vh;
    height: 93vh;
}

.is-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.h-70 {
    height: 70% !important;
}

.h-85 {
    height: 85% !important;
}

.mat-dialog-container {
    display: contents !important;
    overflow: visible !important;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}

app-book-request,
app-new-register {
    padding: 0 !important;
    border-radius: $border-radius  !important;
    height: 100% !important;
    width: 100% !important;
    overflow: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*****************************************************************************/
/*********************************  button  **********************************/
/*********************************  button  **********************************/
/*********************************  button  **********************************/
/*****************************************************************************/
.button {
    border-radius: $border-radius;
    box-shadow: 1px 1px 10px 0px $lightBlackShadow;
    color: $buttonColor;
    background: #fff;
}

.button-svg>svg>path {
    fill: $buttonColor;
}

.button-svg-special>svg {
    fill: $buttonColor;
}

.button-svg-stroke>svg>path {
    stroke: $buttonColor;
}

.button:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 10px 0px $lightBlackShadow;
    color: $buttonHoverColor;

    .button-svg>svg>path {
        fill: $buttonHoverColor  !important;
    }

    .button-svg-special>svg {
        fill: $buttonHoverColor  !important;
    }

    .button-svg-stroke>svg>path {
        stroke: $buttonHoverColor  !important;
    }
}


.revert-button {
    background: $buttonColor;
    color: #fff;
}

.revert-button-svg>svg>path {
    fill: #fff;
}

.revert-button-svg-special>svg {
    fill: #fff;
}

.revert-button-svg-stroke>svg>path {
    stroke: #fff;
}

.revert-button:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 10px 0px $darkBlackShadow;
    color: $svgFillOnHoverPrimary;

    .revert-button-svg>svg>path {
        fill: $svgFillOnHoverPrimary  !important;
    }

    .revert-button-svg-special>svg {
        fill: $svgFillOnHoverPrimary  !important;
    }

    .revert-button-svg-stroke>svg>path {
        stroke: $svgFillOnHoverPrimary  !important;
    }
}

/*****************************************************************************/
/*********************************  cards  ***********************************/
/*********************************  cards  ***********************************/
/*********************************  cards  ***********************************/
/*****************************************************************************/

.card {
    border-radius: $border-radius;
    box-shadow: 1px 1px 10px 0px $lightBlackShadow;
    color: $cardColor;
}

.card-body {
    height: 80%;
}

.card-header {
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: 1px solid $lightBlackShadow;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
        padding: 0px 5px;
    }
}

.card-footer {
    border-radius: 0 0 $border-radius $border-radius;
    border-top: 1px solid $lightBlackShadow;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
        padding: 0px 5px;
    }
}

.card-svg>svg>path {
    fill: $cardColor;
}

// .card-footer:hover {
//     background-color: $cardColor;
//     cursor: pointer;
//     color: #fff;

//     .card-svg>svg>path {
//         fill: #fff;
//     }
// }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*****************************************************************************/
/*********************************  input  ***********************************/
/*********************************  input  ***********************************/
/*********************************  input  ***********************************/
/*****************************************************************************/

.input {
    resize: none;
    font-family: $regular;
    color: $buttonColor;
    border-radius: $border-less-radius;
    font-size: $font-size;
    padding: 6px 10px;
    border: 1px solid $lightBlackShadow;
}

.input-disable {
    border: 1px solid #00000000;
}

.input:focus-visible {
    border-radius: $border-less-radius;
    outline: none;
    border: 1px solid #00000061;
}

.input-disable:disabled {
    cursor: default;
    background-color: #00000000;
}



//// input group :
/// 

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: calc(100% - 10px);
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: $border-light-radius 0 0 $border-light-radius;
    border-right: 0;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 0 $border-light-radius $border-light-radius 0;
    border-left: 0;
    height: 100%;
}

.form-control:focus-visible {
    border-radius: 0 $border-light-radius $border-light-radius 0;
    outline: none;
    border: 0px solid #00000000;
    border-left: none;
}