@import 'src/app/Styles/Variables.scss';


$search-main-height: 55vh;

.search-main {
    font-family: $regular;
    direction: rtl;
    height: $search-main-height;
    width: 75vw;
    background: rgba(255, 255, 255, 0);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
}

.do-search {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    height: calc($search-main-height / 10);
    border-radius: $border-light-radius
}

.search-text {
    border: 0px solid #00000000;
}

.search-svg {
    height: 100%;
    background-color: #fff;
    border: 0px solid #00000000;
    border-right: none;
}

.result {
    margin-top: 20px;
    width: 100%;
    background: #fff;
    border-radius: $border-light-radius;
    height: calc(($search-main-height / 10) * 9);

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }

    .rows {
        width: 50%;
        overflow: auto;

        .rows-body {
            display: flex;
            margin: 5px 15px;
            justify-content: space-between;
            color: $buttonColor;
            flex-direction: column;

            .main-row {
                display: flex;
                padding: 5px 10px 3px 10px;
            }


            .col-one {
                width: calc(50% - 10px);
            }

            .col-two {
                width: 20%;
            }

            .university-id,
            .SID {
                margin-right: 10px;
                width: 25%;
                text-align: left;
            }

            .book-name,
            .book-author,
            .book-pub {
                width: calc(33.33% - 20px);
            }

            .book-author,
            .book-pub {
                margin-right: 10px;
            }

            .action {
                display: flex;
                background: #fff;
                justify-content: space-around;
                padding: 0;
                border-radius: $border-less-radius;
                border: 1px solid $buttonHoverColor;


                .is-registered-false {
                    display: none;
                }

                .item {
                    text-align: center;
                    padding: 5px 10px 5px 10px;
                    align-items: center;
                    justify-content: center;
                }

                .item>svg>path {
                    fill: $buttonColor;
                }

                .item-start {
                    border-radius: 0 0 $border-less-radius 0;
                }

                .item-middle {
                    border-radius: 0;
                }

                .item-middle-one {
                    border-radius: 0 0 $border-less-radius 0 !important;
                }

                .item-end {
                    border-radius: 0 0 0 $border-less-radius;
                }

                .item:hover {
                    background-color: $buttonColor;

                    svg>path {
                        fill: #fff;
                    }
                }
            }

        }

        .rows-body:hover {
            cursor: pointer;
            background-color: $buttonColor;
            color: #fff;
            border-radius: $border-less-radius;

            .action {
                border: 1px solid $buttonColor;
                border-radius: $border-less-radius;
            }
        }
    }

    .book {
        border-right: 1px solid $lightBlackShadow;
        width: 50%;
        overflow: auto;
    }
}

.rows-header {
    color: #fff;
    border-radius: $border-light-radius $border-light-radius 0 0;
    background: $primaryColor;
    text-align: center;
    padding: 10px 0px;
}

.row-detail {
    overflow: auto;
    height: calc(90% - 10px);
}